.chart .bar {
    fill: steelblue;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.tooltip {
    padding: 5px;
    background-color: #ffffff;
    font-size: 12px;
    opacity: 0.8;
    position: absolute;
    z-index: 10;
    visibility: hidden;
}